
.card-container {
  max-width: 24rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.10), 0 2px 2px 0 rgba(0,0,0,0.07);
  background: #fff;
  padding: 1rem;
}
body:not(.light-mode) .card-container {
  background: #232823;
  color: #fff;
  border: 1px solid #585D46;
}
body:not(.light-mode) .card-container * {
  color: #D6D6D6 !important;
}
body:not(.light-mode) .card-container .card-title {
  color: #fff !important;
}
body.light-mode .card-container {
  background: #fff;
  color: #232323;
  border: 1px solid #B3B3B3;
}

.card-content {
  text-align: left;
  font-size: 0.95rem;
}
.card-description {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: left;
  font-size: 0.90rem;
}
.card-description span {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.90rem;
  text-align: left;
}
.card-value {
  word-break: break-all;
  display: inline;
}

.card-title {
  font-size: 1.10rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}

.card-description {
  color: #4b5563;
}

.card-actions {
  margin-top: 1rem;
}
